/* Quando a largura do monitor for inferior a 1000px */
@media (max-width: 1000px){
    section {
        display: block; /* Exibe as seções em formato de bloco */
    }

    nav ul li:last-child {
        grid-column: 2; /* Muda o último item da lista para a segunda coluna */
    }

    .timeline-block {
        flex-direction: column; /* Empilha os blocos da linha do tempo verticalmente */
    }
}

/* Quando a largura do monitor for inferior a 700px */
@media (max-width: 800px){

    nav ul li:last-child {
        grid-column: 1; /* Muda o último item da lista para a primeira coluna */
    }
    .block {
        display: block; /* Exibe os blocos como elementos de bloco */
        text-align: center; /* Centraliza o texto dentro dos blocos */
    }
    .block img {
        max-width: 250px;
    }
    #quiz {
        max-width: 80%; /* Limita a largura máxima do quiz para 80% */
    }

    article {
        max-width: 90%; /* Ajusta a largura máxima do artigo para 90% */
    }

    section {
        padding: 1em; /* Diminui o preenchimento das seções */
    }
    aside li {
        float: left;
    }
    aside ul{
        top: 300px;
        position: fixed;
    }
}